body {
    background-image: url("https://i.pinimg.com/originals/5e/cb/ba/5ecbbad1b47ccd134491315c5773c914.jpg");
    background-size: cover;
    background-position: center; 
    background-size: no-repeat;
    position: relative;
    height: 100vh;
    
 
}

/* main {
    
} */

#reset {
    display: none;
}

 #pirate1 {
    width: 150px;
    height: 150px;
    position: absolute; 
    top: 259px;
}    


#pirate2 {
    width: 187px;
    height: 187px;
    position: absolute;  
    bottom: 16px;
} 

#treasure {
    width: 100px;
    height: 100px;
    right: 0;
    position: absolute;
    bottom: 210px;
    transform: scale(-1, 1);
}

img {
    display: block;
    position: relative;
} 

h2 {
    text-align: center;
    font-family: 'fredericka the great';
    color: darkred;
}

h1 {
    text-align: center;
    font-family: 'trade winds';
    font-size: 40px;
}

#click {
    position: relative;
    left: 365px;
}

#reset {
    position: relative;
    left: 365px;
}

#keyA {
    position: absolute;
    text-align: left;
    font-size: 8px;
    bottom: 507px;
    display: block;
    background-color: burlywood;
    padding: 2px
}

#keyB {
    position: absolute;
    text-align: left;
    font-size: 8px;
    bottom: 483px;
    background-color: burlywood;
    display: block;
    padding: 2px;
}

#flag1 {
    width: 84px;
    height: 61px;
    /* float: right; */
    position: absolute;
    bottom: 665px;
    right: 220px;
    
}

#flag2 {
    width: 84px;
    height: 61px;
    /* float: left; */
    position: absolute;
    bottom: 665px;
    left: 220px;
    transform: scale(-1, 1);
}

#star {
    position: relative;
    bottom: 200px;
    
}