body {
    background-image: url("https://i.pinimg.com/originals/5e/cb/ba/5ecbbad1b47ccd134491315c5773c914.jpg");
    background-size: cover;
    background-position: center; 
    background-size: no-repeat;
    height: 100vh;
    
 
}

#reset {
    display: none;
}

 #pirate1 {
    width: 150px;
    height: 150px;
    position: relative; 
    top: 100px;
}    


#pirate2 {
    width: 187px;
    height: 187px;
    position: relative;  
    top: 124px
} 

#treasure {
    width: 100px;
    height: 100px;
    float: right;
    position: relative;
    top: -100px;
    transform: scale(-1, 1);
}

img {
    display: block;
    position: relative;
} 

h2 {
    text-align: center;

}

h1 {
    text-align: center;
    font-family: 'trade winds';
    font-size: 40px;
}

#click {
    position: relative;
    left: 365px;
}

#reset {
    position: relative;
    left: 365px;
}

#keyA {
    position: relative;
    text-align: left;
    font-size: 8px;
    bottom: 314px;
    background-color: burlywood;
    padding: 2px
}

#keyB {
    position: relative;
    text-align: left;
    font-size: 8px;
    bottom: 308px;
    background-color: burlywood;
    display: block;
    padding: 2px;
}

#flag1 {
    width: 84px;
    height: 61px;
    float: right;
    position: relative;
    bottom: 450px;
    right: 39px;
    
}

#flag2 {
    width: 84px;
    height: 61px;
    float: left;
    position: relative;
    bottom: 450px;
    left: 136px;
    transform: scale(-1, 1);
}