body {
    background-color: rgb(94, 145, 189);
}

#pirate1 {
    width: 100px;
    height: 100px;
    

}

 #red {
    width: 100px;
    height: 100px;
    background-color: red;
} 

.box {
    display: block;
    position: relative;
}

img {
    display: block;
    position: relative;
}